.logginedHeaderNavigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logginedHeaderNavigation__links {
  display: flex;
  justify-content: space-between;
  max-width: 460px;
  width: 100%;
}

.logginedHeaderNavigation__link {
  font-family: Montserrat;
  font-weight: 600;
  line-height: 148%;
  opacity: 0.8;
  color: var(--text-color-dark);
}

.logginedHeaderNavigation__download-template {
  margin-left: 5px;
  color: var(--text-color-darker);
  font-family: Montserrat;
  font-weight: 600;
  line-height: 148%;
}

.logginedHeaderNavigation__icons {
  display: flex;
  justify-content: space-between;
  max-width: 130px;
  width: 100%;
}

.logginedHeaderNavigation__name {
  max-width: 200px;
  width: 100%;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 148%;
  color: var(--text-color-dark);
  opacity: 0.8;
}