.logginedHeaderNavigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logginedHeaderNavigation__links {
  display: flex;
  justify-content: space-between;
  max-width: 460px;
  width: 100%;
}

.logginedHeaderNavigation__link {
  font-family: 'Montserrat';
  font-weight: 600;
  line-height: 148%;
  opacity: 0.8;
  color: var(--text-color-dark);
}

.logginedHeaderNavigation__download-template {
  margin-left: 5px;
  color: var(--text-color-darker);
  font-family: 'Montserrat';
  font-weight: 600;
  line-height: 148%;
}

.logginedHeaderNavigation__icons {
  display: flex;
  justify-content: space-between;
  max-width: 130px;
  width: 100%;
}

.logginedHeaderNavigation__icons img {
  cursor: pointer;
}

.logginedHeaderNavigation__name {
  max-width: 200px;
  width: 100%;
  font-family: 'Montserrat';
  font-weight: 600;
  line-height: 148%;
  color: var(--text-color-dark);
  cursor: pointer;
  position: relative;
}

.menu-is-active {
  display: none;
}

.logginedHeaderNavigation__name:hover .menu-is-active {
  display: flex;
}

.logginedHeaderNavigation__name span {
  opacity: 0.8;
}

.logginedHeaderNavigation-name-submenu-list {
  position: absolute;
  left: -45px;
  padding: 15px;
  background-color: #fff;
  border-radius: 6px;
  flex-direction: column;
  gap: 12px;
  min-width: 227px;
  box-shadow: 0px 2px 20px 0px rgba(163, 173, 183, 0.20);
  z-index: 98;
}

.logginedHeaderNavigation-name-submenu-logout {
  display: flex;
  align-items: center;
  gap: 6px;
}

.logginedHeaderNavigation-name-submenu-logout span {
  opacity: 0.8;
}