.notLogginedHeaderNavigation {
  display: flex;
  gap: 12px;
  align-items: center;
}

.notLogginedHeaderNavigation-login {
  background-color: var(--color-buttonBg-light);
  width: 168px;
}

.notLogginedHeaderNavigation-register {
  background-color: var(--color-buttonBg-darker);
  width: 160px;
}

.notLogginedHeaderNavigation-btn {
  height: 50px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}