.begin-work {
  min-height: 760px;
  background-image: url('../../images/network-connections-technology-background.png');
  background-repeat: no-repeat;
  background-position: center;
}

.begin-work__content {
  padding: 135px 10px 80px 10px;
  margin: 0 auto;
}

.begin-work__title{
  color: var(--text-color-light);
  text-align: center;
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 700;
  line-height: 68px;
  text-transform: uppercase;
  max-width: 925px;
  margin: 0 auto 144px;
}

.begin-work__start-btn {
  width: 286px;
  height: 60px;
  background-color: var(--color-buttonBg-light);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 148%;
  margin: 0 auto 64px;
}

.begin-work__start-btn span {
  margin-right: 13px;
}

.begin-work__links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  grid-template-areas:
  "globe . star"
  "tree calculator catalog";
  margin: 0 auto;
  max-width: 1120px;
}

.inf-system__container {
  max-width: var(--container-big-width);
  margin: 0 auto;
  padding: 0 10px 0 10px;
  display: flex;
  justify-content: right;
}

.inf-system__content {
  max-width: var(--container-small-width);
  padding: 90px 0 66px 0;
  flex-grow: 1;
}

.inf-system__title-block {
  margin-bottom: 52px;
  display: flex;
  gap: 17px;
  max-width: 1260px;
}

.inf-system__title {
  color: var(--text-color-dark);
  white-space: nowrap;
}

.inf-system__line {
  width: 100%;
  height: 1px;
  background-color: var(--text-color-darker);
  align-self: end;
  margin-bottom: 12px;
}

.inf-system__content-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  max-width: 1330px;
  width: 100%;
}

.inf-system__image {
  max-width: 683px;
  width: 100%;
}

.inf-system__list {
  max-width: 478px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.often-used-tech {
  background-color: #F7F4FC;
}

.often-used-tech__container {
  max-width: var(--container-big-width);
  margin: 0 auto;
  padding: 0 10px 0 10px;
  display: flex;
  justify-content: right;
}

.often-used-tech__content {
  max-width: var(--container-small-width);
  padding: 90px 0 95px 0;
  flex-grow: 1;
}

.often-used-tech__title-block {
  margin-bottom: 62px;
  display: flex;
  gap: 17px;
  max-width: 1260px;
}

.often-used-tech__title {
  color: var(--text-color-dark);
  white-space: nowrap;
}

.often-used-tech__line {
  width: 100%;
  height: 1px;
  background-color: var(--text-color-darker);
  align-self: end;
  margin-bottom: 12px;
}

.often-used-tech__content-block {
  max-width: 1260px;
}

.often-used-tech__download-btn {
  background-color: var(--color-buttonBg-light);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 242px;
  height: 60px;
  margin: 0 auto;
}

.often-used-tech__content-block-diagram {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-technology-list {
  max-width: 339px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-technology-list__diagram {
  max-width: 470px;
  width: 100%;
}