.header__container {
  max-width: var(--container-big-width);
  margin: 0 auto;
  padding: 11px 10px 11px 10px;
  display: flex;
  justify-content: right;
}

.header__content {
  max-width: var(--container-small-width);
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.header__logo {
  margin-right: auto;
}

.header__navigation {
  margin-right: 40px;
}

.select-lang-wrapper {
  width: 50px;
}