.tab-content-in-work {
  padding: 33px 0 0 0;
}

.export-list-expertise {
  max-width: 600px;
  width: 100%;
  border-radius: 6px;
  background: #F7F4FC;
  font-family: 'Montserrat';
  margin-bottom: 27px;
}

.export-list-expertise__h-button {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 3px solid var(--color-buttonBg-light);
  border-radius: 6px;
  width: 100%;
  height: 50px;
  margin-bottom: 22px;
}

.export-list-expertise__h-button span {
  color: var(--text-color-darker);
  font-weight: 700;
}

.export-list-expertise__date {
  color: #727FA1;
  font-size: 13px;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 11px;
  padding-left: 18px;
}

.export-list-expertise__dates-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 18px 22px 18px;
}

.export-list-expertise__export-btn {
  width: 182px;
  height: 48px;
  background-color: var(--color-buttonBg-light);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

/* Инпут выбора даты: */
.datepicker-wrapper .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border: 1px solid rgba(114, 127, 161, 0.20);
  border-radius: 8px;
}

.datepicker-wrapper .css-1q6at85-MuiInputBase-root-MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: var(--color-buttonBg-light);
}

.datepicker-wrapper .css-1q6at85-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: var(--color-buttonBg-light);
  border-width: 1px;
}

.datepicker-wrapper {
  overflow: hidden;
  border-radius: 8px;
}

/* Календарь */
/* Левая кнопка переключения месяца: */
.css-kg9q0s-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button:hover {
  background-color: transparent !important;
}

.css-kg9q0s-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button:hover svg g {
  opacity: 1;
}

.css-kg9q0s-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button:hover svg g path {
  fill: var(--color-buttonBg-light) !important;
}

/* Правая кнопка переключения месяца: */
.css-1nkg345-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button:hover {
  background-color: transparent !important;
}

.css-1nkg345-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button:hover svg g {
  opacity: 1;
}

.css-1nkg345-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button:hover svg g path {
  fill: var(--color-buttonBg-light) !important;
}

/* Кнопка выбора месяца: */
.css-12mkn7b-MuiButtonBase-root-MuiIconButton-root-MuiPickersCalendarHeader-switchViewButton {
  display: none !important;
}

/* Текст месяца: */
.css-dplwbx-MuiPickersCalendarHeader-label {
  color: var(--text-color-darker);
  font-family: 'Montserrat';
  font-size: 20px;
  font-weight: 700;
}

.css-dplwbx-MuiPickersCalendarHeader-label::first-letter  {
  text-transform: uppercase;
}

/* День недели: */
.css-i5q14k-MuiDayCalendar-header span {
  color: #727FA1;
  font-family: 'Montserrat';
  font-size: 11px;
  font-weight: 700;
}

/* Даты: */
.css-flbe84-MuiDayCalendar-weekContainer button {
  color: #363681;
  font-variant-numeric: lining-nums tabular-nums;
  font-family: 'Montserrat';
  font-size: 12px;
  font-weight: 600;
  -webkit-transition-property: none;
  -moz-transition-property: none;
  -o-transition-property: none;
  transition-property: none;
}

.css-1u23akw-MuiButtonBase-root-MuiPickersDay-root:hover {
  background-color: var(--color-buttonBg-light) !important;
  color: var(--button-textcolor);
  border-radius: 6px !important;
}

.css-1u23akw-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  background-color: var(--color-buttonBg-light) !important;
  color: var(--button-textcolor);
  border-radius: 6px !important;
}

.css-jgls56-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  background-color: var(--color-buttonBg-light) !important;
  color: var(--button-textcolor);
  border-radius: 6px !important;
}

.css-jgls56-MuiButtonBase-root-MuiPickersDay-root:hover {
  border: none !important;
  background-color: var(--color-buttonBg-light) !important;
  color: var(--button-textcolor);
  border-radius: 6px !important;
}

.tab-content-in-work__title {
  color: #727FA1;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 20px;
}

.tab-content-in-work__search-blocks {
  display: flex;
  align-items: center;
  gap: 30px;
  height: 48px;
  max-width: 740px;
  width: 100%;
  margin-bottom: 33px;
}

.tab-content-in-work__search-block {
  border-radius: 8px;
  border: 1px solid rgba(114, 127, 161, 0.20);
  background: #FFF;
  padding: 0 22px 0 22px;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 100%;
}

.tab-content-in-work__search-block input {
  color: #727FA1;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 500;
  width: 100%;
}

.tab-content-in-work__search-block_big {
  width: 70%;
}

.tab-content-in-work__search-block_small {
  width: 30%;
}

.table-block {
  width: 100%;
}