@import url('./vendor/reset.css');

@import url('./vendor/fonts/fonts.css');

:root {
  --button-textcolor: #fff;
  --color-buttonBg-light: #4545AA;
  --color-buttonBg-darker: #363681;
  --border-radius-button: 6px;
  --text-color-darker: #000080;
  --text-color-dark: #1F1F1F;
  --text-color-grey-light: #B5BBCA;
  --container-big-width: 1526px;
  --container-small-width: 1392px;
}

.button {
  color: var(--button-textcolor);
  font-family: 'Montserrat';
  border-radius: var(--border-radius-button);
  cursor: pointer;
}
